# ===============================
# GDP Labs Scope Configuration
# ===============================
# Please refer to the following documentation for more details and guidelines:
# Scope of Services: https://docs.google.com/document/d/1cXRjv34uXjluQzyRu027r5ax8GT-HOw3naMSPi8aeVs/edit?tab=t.0#heading=h.lfdykfqkf1d5 
GCP_REGION=us-central1
GCP_ENDPOINT=...


# ===============================
# CONFIDENTIAL INFORMATION
# Do NOT check these into GitHub.
# ===============================

# ===============================
# Team Scope Configuration
# ===============================
# Replace "<team>" with your team name according to this "Naming Conventions": https://docs.google.com/document/d/1cXRjv34uXjluQzyRu027r5ax8GT-HOw3naMSPi8aeVs/edit?tab=t.0#heading=h.yhcswoyvfkz4 
GCP_PROJECT_ID=...

# ===============================
# User Scope Configuration
# ===============================
# Replace "<username>" with your email username without @gdplabs.id and separate the username using a minus sign, e.g. john.doe@gdplabs.id -> john-doe, 
# Please according to this "Naming Conventions": https://docs.google.com/document/d/1cXRjv34uXjluQzyRu027r5ax8GT-HOw3naMSPi8aeVs/edit?tab=t.0#heading=h.hw24cr66wl8n
GCP_MODEL_NAME=...

# ===============================
# GCP Service Account
# ===============================
# CONFIDENTIAL INFORMATION
# Do NOT check these into GitHub.
# ===============================
# To obtain these values, please send a request to our Ticket GDPLabs asking for your GCP Service Account.
# Email address for Ticket GDPLabs team: https://docs.google.com/document/d/1cXRjv34uXjluQzyRu027r5ax8GT-HOw3naMSPi8aeVs/edit?tab=t.0#heading=h.8fs6t79x8394 
GCP_SERVICE_ACCOUNT_FILE=key.json
